{% extends 'base.html.twig' %}

{% block title %}Alterar palavra passe - TV Cabinda{% endblock %}

{% block content %}
    <h1>Alterar a minha palavra passe</h1>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}
