{% extends 'base.html.twig' %}
{% block title %}TV Cabinda - Alterar palavra passe{% endblock %}
{% block content %}
    <h1>Alterar a minha palavra passe</h1>
    <hr>
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    {% if notification %}
                        <p class="alert alert-danger">{{ notification }}</p>
                    {% endif %}
                </div>
                <div class="col-sm-2"><a class="btn btn-primary text-right" href="{{ path("account") }}">Minha conta</a></div>
            </div>
        </div>

    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}
