{% extends 'base.html.twig' %}

{% block title %}TV Cabinda - Falar Conosco{% endblock %}

{% block content %}
    <div class="container-fluid text-center">
        <h1> Falar com a TV Cabinda</h1>
    </div>
{% endblock %}
