{% extends 'base.html.twig' %}

{% block title %}TV Cabinda - Sobre nos{% endblock %}

{% block content %}
    <div class="container-fluid text-center">
        <h1> Quem somos</h1>
        <p> <strong>TV Cabinda</strong> é uma plataforma de notícias que foca em retratar os assuntos atuais relacionadas com Cabinda.</p>
        <p>Criamos reportagens, e análise dos assuntos contemporâneos de Cabinda.</p>
    </div>
{% endblock %}
