{% extends 'base.html.twig' %}

{% block title %}TV Cabinda - Termos e condições de uso{% endblock %}

{% block content %}
    <div class="container-fluid text-center">
        <h1> Termos e condições de uso</h1>

    </div>
{% endblock %}
