{% extends 'base.html.twig' %}

{% block title %}TV Cabinda - Trabalhar com nos{% endblock %}
{% block content %}
    <div class="container-fluid text-center">
        <h1>Trabalhar com a TV Cabinda</h1>
    </div>
{% endblock %}
